.lnb {
  overflow-x: auto;
  border-bottom: 1px solid $border;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    // width: max-content;
    position: relative;
    left: -8px;
    white-space: nowrap;
  }

  &-item {
    // flex-shrink: 0;

    &.is-active {
      color: $blue;
      border-bottom: 2px solid $blue;
    }

    a {
      @include flexbox;
      @include text-style(13, $dark);
      position: relative;
      height: 40px;
      padding: 0 8px;
      font-weight: 700;
      transition: color 200ms ease-in-out;

      .ic-new {
        font-size: 16px;
        color: $red;
      }

      &:hover {
        color: $blue;
      }
    }
    
  }
}